{
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "printWidth": 100,
    "semi": true,
    "useTabs": true,
    "tabWidth": 4
  }